@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #dff9fb;
}
body .contain {
  width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
body .contain div {
  width: 1440px;
}
body .contain div nav {
  width: 1440px; /* Ensure this width is appropriate for your layout */
  height: 275px;
}
body .contain div nav .nav-1 {
  width: 100%;
  height: 130px;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contain div nav .nav-1 h1 {
  width: 100%;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body .contain div nav .nav-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 145px;
}
body .contain div nav .nav-2 div {
  width: 360px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
}
body .contain div nav .nav-2 div p {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
body .contain div div {
  width: 1440px;
}
body .contain div div .Frame-choice-wrapper {
  width: 1440px;
  display: flex;
  justify-content: flex-end;
  margin: 32px -14px;
}
body .contain div div .Frame-choice-wrapper div {
  display: flex;
  flex-direction: row;
  width: 420px;
}
body .contain div div .Frame-choice-wrapper div div p {
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}
body .contain div div .Frame-choice-wrapper div div ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  gap: 12px;
}
body .contain div div .Frame-choice-wrapper div div ul li button {
  width: 49px;
  aspect-ratio: 1/1;
  background-color: #fff;
  cursor: pointer;
  font-size: 32px;
}
body .contain div div .Frame-choice-wrapper div div ul li button:hover {
  background-color: #ff7675;
  color: #fff;
}
body .contain div div .reference {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 60px;
  margin-bottom: 35px;
}
body .contain div div .reference .reference-title {
  width: 262px;
  height: 60px;
}
body .contain div div .reference .reference-title p {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  line-height: 56px;
  text-align: center;
}
body .contain div div .reference .reference-input {
  width: 1164px;
  height: 56px;
  padding: 0 15px;
}
body .contain div div .reference .reference-input input {
  width: 1118px;
  height: 52px;
  font-size: 32px;
  padding: 0 23px;
  border: none;
  border: 1px solid #000;
}
body .contain div div .run-button-wrapper {
  width: 1366px;
  display: flex;
  justify-content: end;
  margin-bottom: 35px;
}
body .contain div div .run-button-wrapper div {
  width: 110px;
  height: 56px;
}
body .contain div div .run-button-wrapper div button {
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: #fff;
  background-color: #ff7675;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}
body .contain .hr-start {
  width: 1300px;
  margin: 0 auto 64px auto;
}
body .contain #result {
  width: 1300px;
  margin: 0 auto;
}
body .contain #result .tutor {
  width: 1164px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .contain #result .tutor div {
  width: 100%;
}
body .contain #result .tutor div h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
body .contain #result .tutor div {
  margin-top: 58px;
}
body .contain #result .tutor div ul {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
body .contain #result .tutor div ul li p {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
body .contain .hr-end {
  width: 1300px;
  margin: 64px auto;
}
body .contain footer {
  width: 1440px;
  height: 250px;
  background-color: #2e2e2e;
}
body .contain footer div {
  width: 794px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .contain footer div div {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain footer div div h2 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #fff;
}
body .contain footer div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain footer div div div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
body .contain footer div div div .facebook-icon .fb {
  font-size: 50px;
  color: #5cb8ff;
}
body .contain footer div div div div h4 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #fff;
}
body .contain footer div div div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
body .contain footer div div div .email-icon .email {
  font-size: 50px;
  color: #eb4d4b;
}
body .contain footer div div div div h4 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #fff;
}
body .contain footer div div div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
body .contain footer div div div .github-icon .github {
  font-size: 50px;
  color: #fff;
}
body .contain footer div div div div h4 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #fff;
}
body .contain footer div div {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain footer div div p {
  text-align: center;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  color: #fff;
}
body .contain .reference-validation-modal-wrapper {
  position: fixed;
  display: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 100vh;
  background-color: rgba(230, 217, 217, 0.6);
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ff7675;
  margin: 0 auto;
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text {
  width: 680px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Đưa nội dung của thẻ <p> xuống đáy */
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text p {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button {
  width: 100%;
  height: 258px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button button {
  width: 110px;
  height: 58px;
  font-size: 32px;
  color: #fff;
  background-color: #ff7675;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */