@charset "UTF-8";
/* Mixin */
@font-face {
  font-family: "Playfair Display";
  font-weight: 300;
  src: url("../assets/fonts/playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("../assets/fonts/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #ECF2FF;
}
body .contain {
  width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain {
    width: 480px;
  }
}
@media (max-width: 480px) {
  body .contain {
    width: 350px;
  }
}
body .contain div {
  width: 1440px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div {
    width: 480px;
  }
}
@media (max-width: 480px) {
  body .contain div {
    width: 350px;
  }
}
body .contain div nav {
  width: 1440px; /* Ensure this width is appropriate for your layout */
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div nav {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div nav {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div nav {
    width: 480px;
  }
}
@media (max-width: 480px) {
  body .contain div nav {
    width: 350px;
  }
}
body .contain div nav .nav-1 {
  width: 100%;
  height: 130px;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div nav .nav-1 {
    height: 110px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div nav .nav-1 {
    height: 100px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div nav .nav-1 {
    height: 80px;
  }
}
@media (max-width: 480px) {
  body .contain div nav .nav-1 {
    height: 60px;
  }
}
body .contain div nav .nav-1 h1 {
  width: 100%;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: "Playfair Display", serif;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div nav .nav-1 h1 {
    font-size: 38px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div nav .nav-1 h1 {
    font-size: 32px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div nav .nav-1 h1 {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  body .contain div nav .nav-1 h1 {
    font-size: 22px;
  }
}
body .contain div nav .nav-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 145px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div nav .nav-2 {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div nav .nav-2 {
    height: 120px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div nav .nav-2 {
    height: 90px;
  }
}
@media (max-width: 480px) {
  body .contain div nav .nav-2 {
    height: 70px;
  }
}
body .contain div nav .nav-2 div {
  width: 360px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div nav .nav-2 div {
    height: 90px;
  }
}
@media (max-width: 480px) {
  body .contain div nav .nav-2 div {
    height: 70px;
  }
}
body .contain div nav .nav-2 div p {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div nav .nav-2 div p {
    font-size: 38px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div nav .nav-2 div p {
    font-size: 32px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div nav .nav-2 div p {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  body .contain div nav .nav-2 div p {
    font-size: 20px;
  }
}
body .contain div div {
  width: 1440px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div div {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div div {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div {
    width: 480px;
  }
}
@media (max-width: 480px) {
  body .contain div div {
    width: 350px;
  }
}
body .contain div div .Frame-choice-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 32px -14px;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .Frame-choice-wrapper {
    margin: 24px -14px;
  }
}
@media (max-width: 480px) {
  body .contain div div .Frame-choice-wrapper {
    margin: 20px -14px;
  }
}
body .contain div div .Frame-choice-wrapper div {
  display: flex;
  flex-direction: row;
  width: 420px;
}
@media (max-width: 480px) {
  body .contain div div .Frame-choice-wrapper div {
    width: 350px;
  }
}
body .contain div div .Frame-choice-wrapper div div p {
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .Frame-choice-wrapper div div p {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  body .contain div div .Frame-choice-wrapper div div p {
    font-size: 20px;
  }
}
body .contain div div .Frame-choice-wrapper div div ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  gap: 12px;
}
@media (max-width: 480px) {
  body .contain div div .Frame-choice-wrapper div div ul {
    display: flex;
    align-items: center;
  }
}
body .contain div div .Frame-choice-wrapper div div ul li button {
  width: 49px;
  aspect-ratio: 1/1;
  background-color: #fff;
  cursor: pointer;
  font-size: 32px;
}
body .contain div div .Frame-choice-wrapper div div ul li button:hover {
  background-color: #ff7675;
  color: #fff;
}
@media (max-width: 480px) {
  body .contain div div .Frame-choice-wrapper div div ul li button {
    width: 30px;
    font-size: 20px;
  }
}
body .contain div div .reference {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 60px;
  margin-bottom: 35px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div div .reference {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div div .reference {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .reference {
    width: 480px;
  }
}
@media (max-width: 480px) {
  body .contain div div .reference {
    width: 350px;
  }
}
body .contain div div .reference .reference-title {
  width: 262px;
  height: 60px;
}
body .contain div div .reference .reference-title p {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  line-height: 56px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div div .reference .reference-title p {
    font-size: 26px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .reference .reference-title p {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  body .contain div div .reference .reference-title p {
    font-size: 18px;
  }
}
body .contain div div .reference .reference-input {
  height: 56px;
  padding: 0 15px;
}
body .contain div div .reference .reference-input input {
  width: 1118px;
  height: 52px;
  font-size: 32px;
  padding: 0 23px;
  border: none;
  border: 1px solid #000;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div div .reference .reference-input input {
    width: 750px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div div .reference .reference-input input {
    width: 500px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .reference .reference-input input {
    width: 250px;
  }
}
@media (max-width: 480px) {
  body .contain div div .reference .reference-input input {
    width: 150px;
  }
}
body .contain div div .run-button-wrapper {
  width: 1366px;
  display: flex;
  justify-content: end;
  margin-bottom: 35px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain div div .run-button-wrapper {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain div div .run-button-wrapper {
    width: 700px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .run-button-wrapper {
    width: 450px;
  }
}
@media (max-width: 480px) {
  body .contain div div .run-button-wrapper {
    width: 300px;
  }
}
body .contain div div .run-button-wrapper div {
  width: 110px;
  height: 56px;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .run-button-wrapper div {
    width: 90px;
    height: 46px;
  }
}
@media (max-width: 480px) {
  body .contain div div .run-button-wrapper div {
    width: 70px;
    height: 36px;
  }
}
body .contain div div .run-button-wrapper div button {
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: #fff;
  background-color: #ff7675;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain div div .run-button-wrapper div button {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  body .contain div div .run-button-wrapper div button {
    font-size: 20px;
  }
}
body .contain .hr-start {
  width: 1300px;
  margin: 0 auto 64px auto;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain .hr-start {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain .hr-start {
    width: 650px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain .hr-start {
    width: 450px;
    margin: 0 auto 44px auto;
  }
}
@media (max-width: 480px) {
  body .contain .hr-start {
    width: 300px;
    margin: 0 auto 40px auto;
  }
}
body .contain #tutor {
  width: 1300px;
  margin: 0 auto;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain #tutor {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain #tutor {
    width: 650px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain #tutor {
    width: 450px;
  }
}
@media (max-width: 480px) {
  body .contain #tutor {
    width: 300px;
  }
}
body .contain #tutor .tutor {
  width: 1164px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain #tutor .tutor {
    width: 748px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain #tutor .tutor {
    width: 620px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain #tutor .tutor {
    width: 430px;
  }
}
@media (max-width: 480px) {
  body .contain #tutor .tutor {
    width: 262px;
  }
}
body .contain #tutor .tutor div {
  width: 100%;
}
body .contain #tutor .tutor div h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain #tutor .tutor div h2 {
    font-size: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain #tutor .tutor div h2 {
    font-size: 26px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain #tutor .tutor div h2 {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  body .contain #tutor .tutor div h2 {
    font-size: 20px;
  }
}
body .contain #tutor .tutor div {
  margin-top: 58px;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain #tutor .tutor div {
    margin-top: 28px;
  }
}
@media (max-width: 480px) {
  body .contain #tutor .tutor div {
    margin-top: 22px;
  }
}
body .contain #tutor .tutor div ul {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
body .contain #tutor .tutor div ul li p {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain #tutor .tutor div ul li p {
    font-size: 28px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain #tutor .tutor div ul li p {
    font-size: 26px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain #tutor .tutor div ul li p {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  body .contain #tutor .tutor div ul li p {
    font-size: 18px;
  }
}
body .contain #pageFault {
  width: 1300px;
  height: 32px;
  margin: 0 auto 64px auto;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain #pageFault {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain #pageFault {
    width: 650px;
    font-size: 26px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain #pageFault {
    width: 450px;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  body .contain #pageFault {
    width: 300px;
    font-size: 18px;
  }
}
body .contain .hr-end {
  width: 1300px;
  margin: 64px auto;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain .hr-end {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain .hr-end {
    width: 650px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain .hr-end {
    width: 450px;
    margin: 44px auto;
  }
}
@media (max-width: 480px) {
  body .contain .hr-end {
    width: 300px;
    margin: 40px auto;
  }
}
body .contain footer {
  width: 1440px;
  height: 250px;
  background-color: #2e2e2e;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain footer {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain footer {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer {
    width: 480px;
  }
}
@media (max-width: 480px) {
  body .contain footer {
    width: 350px;
  }
}
body .contain footer div {
  width: 794px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain footer div {
    width: 720px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div {
    width: 430px;
  }
}
@media (max-width: 480px) {
  body .contain footer div {
    width: 320px;
  }
}
body .contain footer div div {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain footer div div h2 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain footer div div h2 {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain footer div div h2 {
    font-size: 21px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div h2 {
    font-size: 16px;
  }
}
body .contain footer div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain footer div div .icon-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
body .contain footer div div .icon-wrapper .facebook-icon .fb {
  width: 50px;
  height: 50px;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div .icon-wrapper .facebook-icon .fb {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div .icon-wrapper .facebook-icon .fb {
    width: 30px;
    height: 30px;
  }
}
body .contain footer div div .icon-wrapper div {
  margin-top: 10px;
}
body .contain footer div div .icon-wrapper div p {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain footer div div .icon-wrapper div p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain footer div div .icon-wrapper div p {
    font-size: 21px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div .icon-wrapper div p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div .icon-wrapper div p {
    font-size: 16px;
  }
}
body .contain footer div div div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
body .contain footer div div div .email-icon .email {
  width: 50px;
  height: 50px;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div div .email-icon .email {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div div .email-icon .email {
    width: 30px;
    height: 30px;
  }
}
body .contain footer div div div div {
  margin-top: 10px;
}
body .contain footer div div div div p {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain footer div div div div p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain footer div div div div p {
    font-size: 21px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div div div p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div div div p {
    font-size: 16px;
  }
}
body .contain footer div div div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
body .contain footer div div div .github-icon .github {
  width: 50px;
  height: 50px;
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div div .github-icon .github {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div div .github-icon .github {
    width: 30px;
    height: 30px;
  }
}
body .contain footer div div div div {
  margin-top: 10px;
}
body .contain footer div div div div p {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain footer div div div div p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain footer div div div div p {
    font-size: 21px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div div div p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div div div p {
    font-size: 16px;
  }
}
body .contain footer div div {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body .contain footer div div p {
  text-align: center;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain footer div div p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain footer div div p {
    font-size: 21px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain footer div div p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  body .contain footer div div p {
    font-size: 12px;
  }
}
body .contain .reference-validation-modal-wrapper {
  position: fixed;
  display: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 100vh;
  background-color: rgba(230, 217, 217, 0.6);
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain .reference-validation-modal-wrapper {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain .reference-validation-modal-wrapper {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain .reference-validation-modal-wrapper {
    width: 480px;
  }
}
@media (max-width: 480px) {
  body .contain .reference-validation-modal-wrapper {
    width: 350px;
  }
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ff7675;
  margin: 0 auto;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper {
    width: 800px;
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper {
    width: 600px;
    height: 200px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper {
    width: 500px;
    height: 150px;
  }
}
@media (max-width: 480px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper {
    width: 400px;
    height: 150px;
  }
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Đưa nội dung của thẻ <p> xuống đáy */
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text p {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  text-align: center;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text p {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text p {
    font-size: 21px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-text p {
    font-size: 16px;
  }
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button {
  width: 100%;
  height: 258px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button {
    height: 80px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button {
    height: 60px;
  }
}
@media (max-width: 480px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button {
    height: 60px;
  }
}
body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button button {
  width: 110px;
  height: 58px;
  font-size: 32px;
  color: #fff;
  background-color: #ff7675;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button button {
    width: 80px;
    height: 42px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button button {
    width: 60px;
    height: 32px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  body .contain .reference-validation-modal-wrapper .reference-validation-modal .modal-wrapper .modal-button button {
    width: 60px;
    height: 32px;
    font-size: 16px;
  }
}

#tableContainer {
  width: 1440px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  #tableContainer {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #tableContainer {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #tableContainer {
    width: 480px;
  }
}
@media (max-width: 480px) {
  #tableContainer {
    width: 350px;
  }
}
#tableContainer .page-table {
  width: 1302px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid #000;
}
#tableContainer .page-table::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
#tableContainer .page-table::-webkit-scrollbar-track {
  background: #fff;
}
#tableContainer .page-table::-webkit-scrollbar-thumb {
  background: #ff7675;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  #tableContainer .page-table {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #tableContainer .page-table {
    width: 650px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #tableContainer .page-table {
    width: 450px;
  }
}
@media (max-width: 480px) {
  #tableContainer .page-table {
    width: 300px;
  }
}
#tableContainer .page-table .title-div {
  width: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
}
#tableContainer .page-table .title-div .header-table-div {
  width: 50px;
  height: 50px;
  border: 0.5px solid #000;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  font-family: "Playfair Display", serif;
}
#tableContainer .page-table .title-div .content-table-div {
  width: 50px;
  height: 50px;
  border: 0.5px solid #000;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  font-family: "Playfair Display", serif;
}

#clockContainer {
  width: 1440px;
  margin-top: 50px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  #clockContainer {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #clockContainer {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #clockContainer {
    width: 480px;
  }
}
@media (max-width: 480px) {
  #clockContainer {
    width: 350px;
  }
}
#clockContainer .clock-table {
  width: 1302px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 0.5px solid #000;
}
#clockContainer .clock-table::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
#clockContainer .clock-table::-webkit-scrollbar-track {
  background: #fff;
}
#clockContainer .clock-table::-webkit-scrollbar-thumb {
  background: #ff7675;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  #clockContainer .clock-table {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #clockContainer .clock-table {
    width: 650px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #clockContainer .clock-table {
    width: 450px;
  }
}
@media (max-width: 480px) {
  #clockContainer .clock-table {
    width: 300px;
  }
}
#clockContainer .clock-table .clock-table-title {
  width: 100%;
  height: 50px;
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
}
#clockContainer .clock-table .clock-cell-zone {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#clockContainer .clock-table .clock-cell-zone .first-clock-column {
  width: 50px;
  display: flex;
  flex-direction: column;
}
#clockContainer .clock-table .clock-cell-zone .first-clock-column .first-clock-div {
  width: 50px;
  height: 50px;
  border: 0.5px solid #fff;
}
#clockContainer .clock-table .clock-cell-zone .clock-auto-column {
  width: 50px;
  display: flex;
  flex-direction: column;
}
#clockContainer .clock-table .clock-cell-zone .clock-auto-column .clock-auto-div {
  width: 50px;
  aspect-ratio: 1/1;
  border: 0.5px solid #000;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  line-height: 50px;
  text-align: center;
}

.pinky {
  color: #fff;
  background-color: #ff7675;
}/*# sourceMappingURL=index.css.map */